# Logs
logs
*.log

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# production
dist

# local files (.env)
.env
.env.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vercel
.vercel

# typescript
*.tsbuildinfo
